.container{
  width: 100%;
}
/* .table{

} */
.thead{
  background:#cccc;
}
.thead th{
  width:100px;
}

.cell div{
  height:20px;
 border:1px solid #cccc;
}
.cell > div.active{
 border:1px solid #6ba2fa;
}
